<% include partials/header %>

<h1> Compose</h1>

<form action="/compose" method="post">
<div class="form-group">
    <label for="postTitle"> Title </Title></label> 
<input type="text" name="postTitle" class="form-control"> 

<label for="postTitle"> Post </label>

<textarea name="postText"  cols="30" rows="5" class="form-control"></textarea> 

</div>

<button class="btn btn-primary" type="submit" name="button">Publish</button>  


</form> <!--Form needed for post requests-->

